/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 Jan, 2015, 2:42:24 PM
    Author     : ABC
*/
/*Design the main box*/
.main_div{             
    width:900px;
    height:700px;
    margin: 0 auto;
    border:1px solid #222222; 
    background: burlywood;
}
/* Applictaion form header */
.header{          
    width:220px;
    margin: 0 auto;
    color: #363636;
    height:50px;
}
/* Information area */
.inf_area{           
    height:600px;
    margin:0 auto;
    width:850px;
}
.row_div{                      
    height:50px;
}
/* set the position of label */
.label_pos{                  
    float:left; 
    width:45%; 
    text-align: right;
    margin-right:10px;
}
/*set the layput of textarea*/
textArea{               
    resize: none;
    width:200px;
    height:50px;
}
#emailid{
    margin-top: 35px;
}
/*set the position of the submit button*/
.btn{                
    float:left;
    text-align: right;
    margin-left: 400px;
    margin-top: 20px;
}
/* that is display the invalid value or empty value*/
p{
    margin-left: 400px;
    color:red; 
    margin-top: 1px;
}